.filter {
  list-style-type: none; }
  .filter li {
    display: inline-block; }
  .filter a {
    color: #4990E2;
    text-decoration: none;
    padding: 8px;
    display: inline-block; }
    .filter a:hover {
      text-decoration: underline; }
